.productTitleCardContainer {
  width: calc(100% - 80px);
  margin: auto;
  height: 362px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 3rem;
  .productTitleTextBox {
    height: 100%;
    width: 50%;
    background-color: #f9f8f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    span {
      color: #808387;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 200;
    }
    h1 {
      font-size: 57px;
      // color: #1d2328;
      color: #dd7f41;
      font-family: Juana, serif;
      font-weight: 300;
      text-align: center;
    }
    p {
      letter-spacing: 0.075em;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      line-height: 160%;
      color: #1d2328;
      font-family: "GillSans,sans-serif", sans-serif;
      max-width: 530px;
    }
  }
  .productTitleImageBox {
    height: 100%;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
