.footer {
  background-color: #f9f8f3;

  .top {
    display: flex;
    height: 573px;
    border: 1px solid lightgray;
    .topLeft {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("../../assets/awardsBackground.webp") no-repeat center;
      position: relative;
      box-sizing: border-box; /* Add this property */

      p {
        position: absolute;
        top: 70px;
        letter-spacing: 0.1em;
        font-weight: 400;
        color: #dd7f41;
        text-transform: uppercase;
        font-size: 18px;
      }
    }

    .topRight {
      flex: 1;
      background: url("../../assets/SubscribeEmailBackground.jpeg") no-repeat
        center;
      background-size: cover;
    }
  }
  .bottom {
    padding: 40px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    .bottomColumn {
      // align-items: center;
      h3 {
        font-family: Juana, serif;
        margin-bottom: 6%;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.1em;
      }
      span {
        font-family: "GillSans,sans-serif", sans-serif;
        font-weight: 200;
        font-size: 15px;
        letter-spacing: 0.05em;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      line-height: 130%;
      gap: 10px;
    }
  }
  .companyText {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #54585a;
  }
}
